<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>

</head>

<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div
        style="margin: 10px 0px; border: 1px solid #dddddd; color: #333333;border-radius: 5px;font-family:'Noto Sans KR', sans-serif;">
        <div class="title"
            style="padding: 20px 20px 20px 20px; border-bottom: 1px solid #dddddd; color: #333333;background-color: rgba(0,0,0,.03);">
            <p data-ke-size="size16"><b>문제 분류 : &nbsp;</b></p>
        </div>
    </div>

    <div
        style="margin: 10px 0px; border: 1px solid #dddddd; color: #333333;border-radius: 5px;font-family:'Noto Sans KR', sans-serif;">
        <div class="title"
            style="padding: 20px 20px 20px 20px; border-bottom: 1px solid #dddddd; color: #333333;background-color: rgba(0,0,0,.03);">
            <p data-ke-size="size16"><b>문제 설명&nbsp;</b></p>
        </div>
        <div class="content" style="padding: 20px 20px 20px 20px;">
            <p data-ke-size=" size16"></p>
        </div>
    </div>

    <div
        style="margin: 10px 0px; border: 1px solid #dddddd; color: #333333;border-radius: 5px;font-family:'Noto Sans KR', sans-serif;">
        <div class="title"
            style="padding: 20px 20px 20px 20px; border-bottom: 1px solid #dddddd; color: #333333;background-color: rgba(0,0,0,.03);">
            <p data-ke-size="size16"><b>입력&nbsp;</b></p>
        </div>
        <div class="content" style="padding: 20px 20px 20px 20px;">
            <p data-ke-size=" size16"></p>
        </div>
    </div>

    <div
        style="margin: 10px 0px; border: 1px solid #dddddd; color: #333333;border-radius: 5px;font-family:'Noto Sans KR', sans-serif;">
        <div class="title"
            style="padding: 20px 20px 20px 20px; border-bottom: 1px solid #dddddd; color: #333333;background-color: rgba(0,0,0,.03);">
            <p data-ke-size="size16"><b>출력&nbsp;</b></p>
        </div>
        <div class="content" style="padding: 20px 20px 20px 20px;">
            <p data-ke-size=" size16"></p>
        </div>
    </div>

    <div
        style="margin: 10px 0px; border: 1px solid #dddddd; color: #333333;border-radius: 5px;font-family:'Noto Sans KR', sans-serif;">
        <div class="title"
            style="padding: 20px 20px 20px 20px; border-bottom: 1px solid #dddddd; color: #333333;background-color: rgba(0,0,0,.03);">
            <p data-ke-size="size16"><b>입력 예시&nbsp;</b></p>
        </div>
        <div class="content" style="padding: 20px 20px 20px 20px;">
            <p data-ke-size=" size16"></p>
        </div>
    </div>

    <div
        style="margin: 10px 0px; border: 1px solid #dddddd; color: #333333;border-radius: 5px;font-family:'Noto Sans KR', sans-serif;">
        <div class="title"
            style="padding: 20px 20px 20px 20px; border-bottom: 1px solid #dddddd; color: #333333;background-color: rgba(0,0,0,.03);">
            <p data-ke-size="size16"><b>출력 예시&nbsp;</b></p>
        </div>
        <div class="content" style="padding: 20px 20px 20px 20px;">
            <p data-ke-size=" size16"></p>
        </div>
    </div>

</body>

</html>